.box{
    display: contents;
    border: 10% solid black;
    margin: 5%;
    padding: 5px;

}
.over{
    background-image: url("/OIG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    opacity: unset;
}
body{
    background-color: darkgrey;
}